<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Contact Form</h2>
{% for message in form.name.errors %}
<div>{{ message }}</div>
{% endfor %}
{#{% for message in form.email.errors %}#}
{#<div>{{ message }}</div>#}
{#{% endfor %}#}

<form action="https://localhost:5000/contact" method="post">
    <fieldset>
        <legend>Contact Form</legend>

        <div>
            {{ form.name.label }}<br>
            {{ form.name }}
        </div>
    </fieldset>
</form>
</body>
</html>