<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static',filename='js/hello.js') }}"></script>
</head>
<body>
<h1>Login</h1>
{% if error %}
<p><strong>Error:</strong> {{ error }}</p>
{% endif %}
<form action="" method="post">
    <dl>
        <dt>
            User Name:
        </dt>
        <dd>
            <input type="text" name="name" vlaue="{{ request.form.name }}"/>
        </dd>
        <dt>Password:</dt>
        <dd>
            <input type="password" name="password"/>
        </dd>
        <dt></dt>
        <dd>
            <input type="submit" value="Login"/>
        </dd>
    </dl>
</form>
</body>
</html>